

/*[  ]
-----------------------------------------------------------
*/
/*.bgwhite {background-color: white;}*/
/*.bgblack {background-color: black;}*/

/*.of-hidden {overflow: hidden;}*/

/*.hov-pointer:hover {cursor: pointer;}*/


/*[  ]
-----------------------------------------------------------
*/
/*.bo-cir {border-radius: 50%;}*/

/*.visible-false {visibility: hidden;}*/
/*.visible-true {visibility: visible;}*/








/*=========================================================
SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE
=========================================================*/
/*[ Margin ]
-----------------------------------------------------------
*/
/*.m-10 {margin: 10px;}*/

/*.m-l--6 {margin-left: -6px;}*/



/*!*[ Border ]*/
/*-----------------------------------------------------------*/
/**!*/
/*.bo1 {border: 1px solid #ebebeb;}*/
/*.bo2 {border: 2px solid #d9d9d9;}*/
/*.bo4 {border: 4px solid #ec1d25;}*/

/*.bo5-b {border-bottom: 1px solid #e6e6e6;}*/
/*.bo5-r {border-right: 1px solid #e6e6e6;}*/

/*.bo6-r {border-right: 1px solid #808080;}*/

/*.bo7 {border: 2px solid #e6e6e6;}*/
/*.bo8 {border: 5px solid white;}*/


/* ------------------------------------ */
/*.bo-rad-2 {border-radius: 2px;} */
/*.bo-rad-3 {border-radius: 3px;} */
/*.bo-rad-4 {border-radius: 4px;} */
/*.bo-rad-5 {border-radius: 5px;} */
/*.bo-rad-7 {border-radius: 7px;} */
/*.bo-rad-10 {border-radius: 10px;} */

/*.bo-t-rad-2 {*/
	/*border-top-left-radius: 2px;*/
	/*border-top-right-radius: 2px;*/
/*} */

/*.bo-b-rad-2 {*/
	/*border-bottom-left-radius: 2px;*/
	/*border-bottom-right-radius: 2px;*/
/*}*/





/*=========================================================
EFFECT   EFFECT   EFFECT   EFFECT   EFFECT   EFFECT  EFFECT
=========================================================*/

/*!*[ wrap-cir-pic ]*/
/*-----------------------------------------------------------*/
/**!*/
/*.wrap-cir-pic {*/
	/*border-radius: 50%;*/
	/*overflow: hidden;*/
/*}*/
/*.wrap-cir-pic img {*/
	/*width: 100%;*/
/*}*/


/*!*[ Hover img zoom]*/
/*-----------------------------------------------------------*/
/**!*/
/*.hov-img-zoom {*/
	/*display: block;*/
	/*overflow: hidden;*/
/*}*/
/*.hov-img-zoom img{*/
	/*width: 100%;*/
	/*-webkit-transition: all 0.6s;*/
    /*-o-transition: all 0.6s;*/
    /*-moz-transition: all 0.6s;*/
    /*transition: all 0.6s;*/
/*}*/
/*.hov-img-zoom:hover img {*/
	/*-webkit-transform: scale(1.1);*/
  	/*-moz-transform: scale(1.1);*/
  	/*-ms-transform: scale(1.1);*/
  	/*-o-transform: scale(1.1);*/
	/*transform: scale(1.1);*/
/*}*/



/*!*[ Position ]*/
/*-----------------------------------------------------------*/
/**!*/
/*.position1 {*/
	/*position: absolute;*/
	/*top: 0;*/
	/*right: 0;*/
/*}*/


/*[ Box Shadow ]
-----------------------------------------------------------
*/


}